

body
{
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-shrink: 1;
}

header{
    height:69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:0;
    background-color: black;
    align-items: center;
}
.heading img{
   height:50px; 
   margin-left: 10px;
   
}

#nav{
    float:right;
    margin-right: 2px;
    display: flex;
    align-items: flex-end;
}

a{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    padding: 0 20px;
}



main{
    display: flex;
    flex-direction: column;
    justify-content:center ;
   
    
}

.mission {
    background-image: url(../Images/img-mission-background.jpg);
    margin: 0 auto;
    height: 700px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
  
}


.mission h2, .mission h4{
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: black;
    align-items:center;
}

.teaofmonth{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.teaimages{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
    
}

.teaimages div{
    margin: 5px;
}

.teaimages img{
    height: 200px;
    max-width: 300px;
} 

.teaimages h4{
    margin: 10px 0;
}

.locations{
    display: flex;
    background-image: url(../Images/img-locations-background.jpg);    
    height: 500px;
    justify-content: center;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 40px;

}

.locationtitle{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 15px;
}

.locationtitle h2{
    margin: 0 auto;
}

.addressconatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
     flex-shrink: 1;
    
}
.address{
    background-color: black;
    opacity: 1 ;
    width: 300px;
    margin-right: 40px;

}


.contact{
    height: 200px;
    margin: 0 auto;
    padding: 0;
}

.contact h2{
    margin: 0 auto;
    padding-top: 5px;
}

footer h5{
    text-align: left;
    margin-left: 20px;
    padding: 0;

}

#nav a:hover{
   text-decoration: none;
   color: white;
   font-weight: bold;
}

#nav a:active{
    text-decoration: none;
    color: darkgoldenrod;
    font-weight: bold;
 }




